{% extends "base.html.tmpl" %}

{% block page_settings %}
{% set active_menu = 'projects'%}
{% endblock %}

{% block mainContent %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

{% for project in projects %}
<a href="{{ project.url }}">{{ project.title }}</a>
{% endfor %}

</div>
{% endblock %}