{% extends "_base.html.tmpl" %}

{% block mainContent %}
        <div class="contentsWrap">
            <div class="contents">
                <div class="leftDiv">
                    <div class="titleArea">
                        <p class="projectName">{{ project.title }}</p>
                        <p class="name">{{ project.owner.email }}</p>
                        <p class="authority">(프로젝트 관리자)</p>
                    </div>
                    <ul class="leftMenu">
                        <li {% if active_menu == 'community' %}class="on"{% endif %}><a href="{{ project.url }}">프로젝트 커뮤니티</a></li>
                        <li {% if active_menu == 'members' %}class="on"{% endif %}><a href="{{ url_for('project.members', project_id=project.id) }}">프로젝트 구성원</a></li>
                        <li {% if active_menu == 'info' %}class="on"{% endif %}><a href="{{ url_for('project.info', project_id=project.id) }}">프로젝트 정보</a></li>
                    </ul>
                    <div class="btnArea">
                        <a href="#" class="btn medium">ER-KS 시작하기</a>
                    </div>
                </div>
                <div class="contentsDiv">
                    {% block projectMainContent %}
                    {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
