{% extends "project.html.tmpl" %}
{% set active_menu = 'community'%}
{% block projectMainContent %}
                    <h3 class="title">글작성
                        <span class="desc">/ 커뮤니티에 함께 공유할 내용을 작성해 주세요.</span>
                    </h3>
                    <div class="communityWriteDiv">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <input type="text" class="form-control inputTxt" placeholder="제목을 입력하세요.">
                            </div>
                            <div class="contentsArea">
                                <div class="editerArea">
                                </div>
                                <div class="attachArea">
                                    <div class="fileDiv">
                                        <input type="file" name="fileName" class="file" onchange="fileAppend(this.value);">
                                    </div>
                                    <ul class="attachList">
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="btnArea alignR">
                        <a href="{{ project.url }}" class="btn medium white2 w140">취소</a>
                        <button type="submit" class="btn medium  blue w140">저장</button>
                    </div>
{% endblock %}